@font-face {
  font-family: Assistant-Regular;
  src: url("~src/assets/fonts/Assistant-Regular.ttf");
}
@font-face {
  font-family: Assistant-SemiBold;
  src: url("~src/assets/fonts/Assistant-SemiBold.ttf");
}
@font-face {
  font-family: Assistant-Bold;
  src: url("~src/assets/fonts/Assistant-Bold.ttf");
}

@font-face {
  font-family: Assistant-Medium;
  src: url("~src/assets/fonts/Assistant-Medium.ttf");
}
@font-face {
  font-family: Assistant-Light;
  src: url("~src/assets/fonts/Assistant-Light.ttf");
}
@font-face {
  font-family: Assistant-ExtraLight;
  src: url("~src/assets/fonts/Assistant-ExtraLight.ttf");
}
@font-face {
  font-family: Assistant-ExtraBold;
  src: url("~src/assets/fonts/Assistant-ExtraBold.ttf");
}
